body {
    font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align:center;
    width:100%;
    transition: background 0.5s ease-in-out;
    
}
h1 {
    width:100%;
    color: goldenrod;
    animation: fadeIn 1.5s ease-in-out;
}
#message-el {
    width:100%;
    font-style: italic;
    animation: fadeIn 2.5s ease-in-out;
}

button {
    color:#016f32;
    width:150px;
    background: #daa520;
    padding-top: 5px;
    padding-bottom:5px;
    font-weight: bold;
    border:none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
   
}
button:hover {
   background-color : #7d5c0b;
   color: #11a956;
   font-weight: bold;
   border-radius: 10px;
   /*transition : all 0.3s ease-in-out;*/
}

input {
    width: 100px;
    padding:5 px;
    margin: 10px 0;
    border: 2px solid goldenrod;
    border-radius: 5px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: ;1}
}